/*나는 "CookieRun Black" 했었음*/
.font-type {
    font-family: fantasy;
}

.div-style {
    border: solid 1px brown;
    width: 300px;
    height: 100px;
    background-color: beige;
}

.b-style{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
    font-family: "궁서";
    color: green;
}

.ul-style{
    list-style-type:circle;
}

.li-style a:hover{
    text-shadow: 1px 1px 1px grey;
    font-style: italic;
}

.li-style a{
    text-decoration: none;
    color: black;
}
