.float-left{
    float: left;
}
.float-clear{
    clear: both;
}
.header{
    padding: 10px 0;
    background-color: coral;
    text-align: center;
    font-size: 2rem;
}
.nav{
    background-color: yellowgreen;
    text-align: center;
    margin: 5px 0;
}
.main{
    background-color: burlywood;
    height: 200px;
    padding: 5px;
    /* height를 지정한 곳에서는 scroll이 생긴다*/
    overflow: auto;
}
.section1, .section2{
    background-color: brown;
    height: 100px;
}
.section1{
    float: left;
    width: 100px;
}
/*float은 다른 형제 태그의 margin값에 영향을 받지 않는 것 같다!*/
.section2{
    margin-left: 110px;
}

.header-boder{
    border: solid yellow 3px;
    text-align: center;
    padding: 10px;
}

.nav-border{
    border: solid orange 3px;
    text-align: center;
    float: left;
    width: 150px;
}
.section-border{
    height: 500px;
    border: solid blue 3px;
    margin-left: 155px;
    text-align: center;
}
.footer-border{
    border: solid greenyellow 3px;
    text-align: center;
    padding: 10px 0;
}
.div-border{
    border: solid black 3px;
}
.float-right{
    float: right;
}
.align-margin{
    width: 150px;
    margin: auto;
}
/*position은 잘 안쓴다*/
.align-position{
    position: relative;
    left: 40%;
}
.container{
    background-color: antiquewhite;
    overflow: auto;
}