.grid-box{
    display: grid;
    /*첫째 열에 값이 세개가 들어가게된다.*/
    /*repeat없이 1fr을 3번 연속으로 적어도 된다.*/
    /*100px 1fr 2fr : 원하는 공간에 크기를 정할 수도 있다. px*/
    grid-template-columns: repeat(2,1fr);
    /*1fr 1fr 2fr : 1:1:2의 배율간격을 가지게된다.*/
    grid-gap: 10px;
}

.grid-box>p{
    background-color: burlywood;
}

.grid-box>p:first-child{
    background-color: coral;
}

.grid-box-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*row을 작성할 때는 높이 간격을 따로 주고 싶을때 쓴다.*/
    grid-template-rows: 1fr 1fr 2fr;
}

.grid-box-row>p:first-child{
    padding: 30px 0;
}

.grid-box-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template와 grid-auto의 차이
    template : 갯수만큼 크기 지정(그 외의 크기는 auto)
    auto : 모든 row의 오토를 어떻게 할지 지정*/
    grid-auto-rows: 1fr;
}

.grid-box-item>p:nth-child(1){
    /*1/n n번 자리까지 해당 grid가 다른 grid까지 차지하고
    뒤의 grid는 뒤로 밀려난다.*/
    grid-column: 1/4;
    border: 1px solid salmon;
}

.grid-box-item>p:nth-child(2){
    /*위는 열 너비를 차지 아래는 행 너비를 차지*/
    grid-row: 2/4;
    border: 1px solid blue;
}

.grid-box-item>p:nth-child(3){
    /*기본값 auto를 제대로 지정해주지 않으면 제대로 적용되지않는다.*/
    grid-row: 2/4;
    grid-column: 2/4;
    border: 1px solid yellowgreen;
}

.grid-box-item>p:nth-child(4){
    grid-column: 2/4;
    border: 1px solid black;
}

.grid-box-item>p:nth-child(5){
    grid-column: 1;
    /*임의로 원하는 공간에 자리 값을 지정해주면 주변 grid가
    행,열값을 얼마나 가지든 그 자리에 고정된다.*/
    grid-row: 4;
    border: solid 1px darkmagenta;
}

.shopping{
    display: grid;
    width: 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.shopping>div>img{
    width: 150px;
}

.shopping>div>p{
    margin: 0;
    text-align: center;
}

.shopping>div>h4{
    margin: 0;
    text-align: center;
}
/*
*{
    margin: 0;
    padding: 0;
}

*/
/* grid실습 확인*/
/* 각각 클래스를 정한만큼 굳이 자식 선택자를 쓸 필요는
없지만 각 클래스가 적용된 위치를 파악하기에는 좋다.*/

.grid-box-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-box-contain>.content{}

.grid-box-contain>.content>.item-image{
    background-image: 
    url(./img/dove-gc04843ca2_1920.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.grid-box-contain>.content>h4
,.grid-box-contain>.content>p{
    margin: 0;
    padding: 0;
}

.grid-box-contain>.content:hover>.item-image{
    filter: brightness(50%);
    transition: all 0.5s;
}
